body
{
  margin: 0;
  background: #EDEDED;
  color:#666;
  font:14px/23px Arial,Verdana,sans-serif;
  overflow: hidden;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

a
{
  color:#70a23e;
}

#main {
  background: #D3D3D3;
  width: 100%;
  height: 2000px;
  padding: 30px;
}

#container {
  padding-top:10px;
  margin:0 auto;
  width:500px;
  /* height:600px; */
}

/* Give canvas a background */
canvas {
  background-color:black;
  width:500px;
  height:500px;
}

*
{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  /* avoid green selection color in android browser */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
}

@font-face {
  font-family: 'BaseFont';
  src: url('fonts/visitor1.ttf') format('truetype');
}